tensorflow-gpu==2.5.0
numpy==1.19.2
Pillow==7.1.2
scipy==1.4.1
matplotlib==3.2.1
tqdm==4.46.1
jupyterlab==2.1.4
cffi==1.14.0
pandas==1.0.4
plotly==4.8.1
scikit-image==0.17.2
ftpretty==0.3.2
scikit-learn==0.23.1
mlflow==1.10.0
black==21.6b0
onnx==1.8.0
tf2onnx==1.7.2
hydra-core==1.0.4
imgaug==0.4.0
boto3==1.17.89
pylint==2.8.3

